{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->

{% block outer %}
  <div class="off-canvas-container">
    {{ nav(page, {classes: 'off-canvas-nav hide-desktop', logo: true, showChildren: true}) }}
  </div>
{% endblock%}

{% block header %}
  <div class="block top">
      <div class="inner demo-inner">
        <header>
          <div class="demo-header bg-red">
            <h5>{% block headerMessage %}快点第三方电器售后平台{% endblock %}</h5>
            <p> <a href="#download" ><h5>Download APP</h5></a></p>
          </div>
          {{ nav(page, {classes: 'hide-mobile'}) }}
          <a href="#" class="off-canvas-trigger hide-desktop">
            <svg class="a-toolbox">
              <use xlink:href="#a-toolbox" />
            </svg>
          </a>

        </header>
      {% block headerContent %}
      {% endblock %}
    </div>
  </div>
  <div class="block header {% block upperClass %}{% endblock %}">
    {% block headerBackground %}{% endblock %}

  </div>

{% endblock %}

{% block main %}
  {# most content will be just fine sitting within our 'block' class, but we always #}
  {# have the option to override the 'main' block if we want a little more control. #}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block extraContent %}
{% endblock %}

{# notice that this footer uses global areas: if we want editable content to appear #}
{# on every page that inherits this one we want to use the global object instead of #}
{# the page object. #}

{% block footer %}
  <footer class="block footer">
<!--     <div class="inner">
      {% block footerContent %}
        <div class="inline-middle width-50">
          Apostrophe is led by <a href="http://punkave.com">P'unk Avenue</a> in Philadelphia, PA.
        </div>{#
      #}<div class="inline-middle width-50 align-right">
          <a class="inline-top footer-logo" href="http://punkave.com">
            <img src="/images/demo_logo_punk.png" class="" alt="P'unk Avenue" width="150" height="32" />
          </a>
        </div>
      {% endblock %}
    </div> -->
     <div id="footer" class="inner">
      <div class="container">
          <h5>联系我们</h5>
            <div class="row contact">
              <div class="col-xs-12"> <span>客服电话：0574-27614820（工作时间08:00-22:00）</span> <span>公司地址：宁波市江东区颐高创业大厦11楼</span></div>
            </div>
            
            <div class="copyright" >
              <p>Copyright ©2015 宁波快点网络科技有限公司 <a href="http://www.miitbeian.gov.cn/" class="yellow" target="_blank" style="text-decoration:none;color:#fff">浙ICP备14033859号 </a>&nbsp;&nbsp;<br>
              </p>
            </div>
        </div>
    </div>
    <div class="inner">
      <div class="linode-credit">
        Generously hosted by <a href="http://apostrophenow.org">apostrophe</a>.
      </div>
    </div>
  </footer>
{% endblock %}
